.pets-page .title {
    margin-bottom: 0;
}

.pets-page .slider {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 40px;
    row-gap: 30px;
    margin: 45px 0;
}

.pagination-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-row {
    display: flex;
    justify-content: space-between;
    max-width: 340px;
    width: 100%;
}