*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: var(--ff-secondary);
}

body.lock{
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;

    --ff-primary: Georgia, serif;
    --ff-secondary: "Arial", serif;

    --fs-200: 0.75rem;
    --fs-300: 0.813rem;
    --fs-400: 0.938rem;
    --fs-500: 1.063rem;
    --fs-600: 1.25rem;
    --fs-logo: 2rem;
    --fs-700: 2.188rem;
    --fs-800: 2.7rem;
    --fs-mobile-menu: 2rem;
    --fs-title-adaptive: 1.563rem;


    --lh-160: 160%;
    --lh-150: 150%;
    --lh-130: 130%;
    --lh-115: 115%;

    --fs-title: var(--fs-700);
    --fs-subtitle: var(--fs-600);
    --fs-small: var(--fs-200);
}

ul[role="list"],
ol[role="list"] {
    list-style-type: none;
}

img,
svg {
    display: block;
}

a,
a::before,
a::after {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-primary);
}

h2 {
    font-size: var(--fs-title);
}

h1 {
    color: var(--color-light-xl);
}

button {
    font-size: var(--fs-button);
    color: var(--color-dark-3xl);
}

/* Utility classes */

.paragraph-l {
    font-size: var(--fs-400);
}

.color-primary {
    color: var(--color-primary);
}

.color-primary-light {
    color: var(--color-primary-light);
}

.color-light-xl {
    color: var(--color-light-xl);
}

.color-dark-xl {
    color: var(--color-dark-xl);
}

.color-dark-l {
    color: var(--color-dark-l);
}

.color-dark-3xl {
    color: var(--color-dark-3xl);
}

.color-dark-m {
    color: var(--color-dark-m);
}

.color-dark-s {
    color: var(--color-dark-s);
}

.background-color-primary {
    background-color: var(--color-primary);
}

.background-light-xl {
    background-color: var(--color-light-xl);
}

.background-light-l {
    background-color: var(--color-light-l);
}

.fs-logo {
    font-size: var(--fs-logo);
}

.fs-title {
    font-size: var(--fs-title);
}

.fs-subtitle {
    font-size: var(--fs-subtitle);
}

.fs-small {
    font-size: var(--fs-small);
}

/* End of Utility Classes */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0 100px 0;
}